<div class="layui-row row_margin">
    <div class="layui-col-xs12">
        <div class="outlierbox" style="margin-left: 5px;margin-right:10px;height: 800px;">
            <!-- style="margin: 10px 10px 10px 20px;" -->

            <div class="layui-row">
                <div class="layui-col-xs6">
                    <p>建议服药时间</p>
                </div>
                <div class="layui-col-xs6">
                    <p>药品用法及用量</p>
                </div>
            </div>

            <div class="container">
                <ul>
                    {{append_html}}
                </ul>
            </div>
        </div>
    </div>
</div>