@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
/* body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  
} */


.container ul {
  margin: 0;
  /* 这是整个ul距离上下 */
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  list-style: none;
  position: relative;
  /* padding: 1px 10px; */
  padding: 1px 1px 1px 10px;;
  color: rgb(0, 0, 0);
  /* font-size: 13px; */
}

/* 这里用来操作竖直的线条的性质 */
.container ul:before {
  content: "";
  width: 2px;
  height: 100%;
  margin-left: 20px;
  position: absolute;
  border-left: 2px solid rgb(0, 0, 0);
}

/* 看作表格，每个条目的移动，这里先left移动之后，再把时间和点设置为负数，给到对应的位置 */
.container ul li {
  position: relative;
  margin-left: 40px;
  background-color: rgb(231, 240, 247);
  padding: 10px;
  border-radius: 6px;
  /* 去掉固定防止出现问题 */
  /* width: 250px; */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}

/* 这个是让内容往下移动，也就是让这些之间有间隔的设置 */
.container ul li:not(:first-child) {
  margin-top: 20px;
}

.container ul li > span {
  width: 0px;
  height: 100%;
  background: rgb(0, 0, 0);
  left: -30px;
  top: 0;
  position: absolute;
}
.container ul li > span:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  /* background: #d0e3f57e; */
  background: black;
  left: 5px;
  top: 50%;;
}
.container ul li span:after {
  top: 100%;
}
.container ul li > div {
  margin-left: 10px;
}
.container div .title, .container div .type {
  font-weight: 600;
  font-size: 12px;
}
/* .container div .info {
  font-weight: 300;
} */
.container div > div {
  margin-top: 5px;
}
.container span.number {
  height: 100%;
}
.container span.number span {
  position: absolute;
  font-size: 10px;
  left: -35px;
  font-weight: bold;
}
.container span.number span:first-child {
  top: 0;
}

/* 这里这是在中间还是下面 */
.container span.number span:last-child {
  top: 50%;
}

input, textarea {
  background: #eee;
  border: 0.01em solid;
  display: block;
  margin: 0.4em 0;
}

[disabled] {
  opacity: 0.3;
}

input[type=text] {
}

input[type=text]::before {
  content: attr(value);
  padding: 0.2em;
  bottom: 0.2em;
  margin: 0em;
  vertical-align:bottom;
}



/* 中部的两个框 */
.box {
  background-color: rgb(231, 240, 247);
  /* border: 5px solid #0b385f; */
  /* border-bottom-style: dashed; */
  /* border:2px solid black; */
  padding:10px 10px;
  border-radius:2px;
  color: rgb(0, 0, 0);
}

/* 在html里对margin做了进一步调整 */
.outlierbox{
  border:2px solid #a1a1a1;
  padding:20px 20px;  
  border-radius:15px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 500px;
}

.caution_margin{
  margin: 5px 0px;
}


.detail_box {
  background-color: rgb(231, 240, 247);
  /* border: 5px solid #0b385f; */
  /* border-bottom-style: dashed; */
  /* border:1px solid black; */
  margin:5px 10px 5px 0px;
  padding:5px 5px 5px 5px;
  border-radius:1px;
  color: rgb(0, 0, 0);
  flex-grow : 1;
}

.detail_box_end{
  background-color: rgb(231, 240, 247);
  /* border: 5px solid #0b385f; */
  /* border-bottom-style: dashed; */
  /* border:1px solid black; */
  margin:5px 0px;
  padding:5px 5px 5px 5px;
  border-radius:1px;
  color: rgb(0, 0, 0);
  flex-grow : 1;
}

.detail_label {
  /* border: 5px solid #0b385f; */
  /* border-bottom-style: dashed; */
  /* border:2px solid black; */
  margin:5px 0px;
  padding:5px 5px;
  /* border-radius:1px; */
  /* color: rgb(0, 0, 0); */
}

.row_margin{
  margin-top: 20px;
}

.fillbox{
  display: flex;
}