<!DOCTYPE html>
<html>

<head>
    <!-- <meta charset="utf-8"> -->
    <meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>用药指导单</title>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->
    <link rel="stylesheet" href="/home/junjie/Code/xiangya/project/templates/style.css">
    <link rel="stylesheet" href="/home/junjie/Code/xiangya/project/templates/layui/css/layui.css">
</head>


<body>
    <div class="layui-container">
        <div class="layui-row">
            <h2 style="text-align:center;">{{hospital}}<br>用药指导单</h2>
        </div>

        <div class="layui-row row_margin">
            <div class="layui-col-xs4">
                <div class="fillbox">
                    <span class="detail_label">门诊号：</span>
                    <span class="detail_box">{{clinic_id}}</span>

                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="fillbox">

                    <span class="detail_label">科室：</span>
                    <span class="detail_box">{{section}}</span>
                </div>

            </div>
            <div class="layui-col-xs4">
                <div class="fillbox">
                    <span class="detail_label">门诊时间：</span>
                    <span class="detail_box_end">{{date}}</span>
                </div>

            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs4">
                <div class="fillbox">
                    <span class="detail_label">姓名：</span>
                    <span class="detail_box">{{name}}</span>

                </div>
            </div>
            <div class="layui-col-xs2">
                <div class="fillbox">

                    <span class="detail_label">性别：</span>
                    <span class="detail_box">{{gender}}</span>
                </div>

            </div>
            <div class="layui-col-xs4">
                <div class="fillbox">
                    <span class="detail_label">日期：</span>
                    <span class="detail_box">{{birthday}}</span>
                </div>
            </div>

            <div class="layui-col-xs2">
                <div class="fillbox">
                    <span class="detail_label">年龄：</span>
                    <span class="detail_box_end">{{age}}</span>

                </div>
            </div>
        </div>

        <div class="layui-row fillbox">
            <span class="detail_label">临床诊断：</span>
            <span class="detail_box_end">{{diagnosis}}</span>
        </div>

        <div class="layui-row row_margin" >
            <div class="layui-col-xs12">
                <p style="margin-left: 25px;">推荐用药时间</p>
                <div class="outlierbox" style="margin-left: 5px;margin-right:10px;height: 600px;">
                    <!-- style="margin: 10px 10px 10px 20px;" -->

                    <div class="layui-row">
                        <div class="layui-col-xs6">
                            <p>服药时间</p>
                        </div>
                        <div class="layui-col-xs6">
                            <p>服用的药品</p>
                        </div>
                    </div>

                    <div class="container">
                        <ul>
                            {{li_html}}
                            <!-- <li><span></span>
                                患者教育

                                <div>

                                    <div class="info">Let&apos;s make coolest things in css</div>

                                </div> <span class="number"><span>10:00</span></span>
                            </li>
                            <li><span></span>
                                <div>

                                    <div class="info">Let&apos;s make coolest things in css</div>

                                </div> <span class="number"><span>10:00</span></span>
                            </li> -->

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {{append_html}}
        
        <div class="layui-row">
            <div class="layui-col-xs12">
                <p style="margin-left: 25px;">用药注意事项</p>
                <div class="outlierbox" style="margin-left:5px;margin-right:10px;height: 700px;">
                    <p>患者教育</p>
                    <p class="box caution_margin"> {{user_edu}}</p>
                    <p>疾病教育</p>
                    <p class="box caution_margin"> {{disease_edu}}</p>
                    <!-- <p>时辰药理学</p>
                    <p class="box caution_margin"> {{time_mech}}</p> -->
                    <p>禁忌</p>
                    <p class="box caution_margin"> {{med_forbid}}</p>
                    <p>注意事项</p>
                    <p class="box caution_margin">{{med_caution}}</p>
                    <p>食物相互作用</p>
                    <p class="box caution_margin">{{med_food}}</p>
                    <p>疾病相互作用</p>
                    <p class="box caution_margin">{{med_disease}}</p>
                </div>

            </div>
        </div>

        <div class="layui-row row_margin">
            <div class="layui-col-xs6">
                <div class="layui-form-item" style="padding-right: 40px;">
                    <label class="layui-form-label">医生签字</label>
                    <div class="layui-input-block">
                        <input type="text" name="section" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6" style="text-align:center;">
                <div style="padding: 0px 90px;">
                    <!-- <p class="box">
                        二维码
                    </p> -->
                    <img width="100px" height="100px" src="data:image/jpg;base64,{{img_base64_data}}" />
                    <p>扫描二维码可以获得详细用药信息</p>
                </div>
            </div>
        </div>


    </div>


</body>

</html>